[submodule "src/protoclass"]
	path = src/protoclass
	url = https://github.com/glemaitre/protoclass.git
[submodule "third-party/protoclass"]
	path = third-party/protoclass
	url = https://github.com/glemaitre/protoclass
[submodule "publication/miccai-omia-2015/workshop"]
	path = publication/miccai-omia-2015/workshop
	url = https://github.com/I2Cvb/oct-Report.git
[submodule "publication/miccai-omia-2015/presentation"]
	path = publication/miccai-omia-2015/presentation
	url = https://github.com/I2Cvb/miccai-2015-omia-presentation.git
[submodule "publication/joph-2015"]
	path = publication/joph-2015
	url = https://github.com/I2Cvb/oct-journal.git
[submodule "publication/cmig-2015"]
	path = publication/cmig-2015
	url = https://github.com/I2Cvb/oct-report-CMIG.git
[submodule "pipeline/srinivasan-2014-oct"]
	path = pipeline/srinivasan-2014-oct
	url = https://github.com/I2Cvb/srinivasan-2014-oct.git
[submodule "pipeline/lemaitre-2015-oct"]
	path = pipeline/lemaitre-2015-oct
	url = https://github.com/I2Cvb/lemaitre-2015-oct.git
[submodule "pipeline/lemaitre-2016-apr"]
	path = pipeline/lemaitre-2016-apr
	url = https://github.com/I2Cvb/lemaitre-2016-apr.git
[submodule "pipeline/alsaih-2016-aug"]
	path = pipeline/alsaih-2016-aug
	url = https://github.com/I2Cvb/alsaih-2016-aug.git
[submodule "pipeline/venhuizen-2015-feb"]
	path = pipeline/venhuizen-2015-feb
	url = https://github.com/I2Cvb/venhuizen-2015-feb.git
[submodule "pipeline/sankar-2016-feb"]
	path = pipeline/sankar-2016-feb
	url = https://github.com/I2Cvb/sankar-2016-feb.git
[submodule "third-party/protoclass_matlab"]
	path = third-party/protoclass_matlab
	url = https://github.com/I2Cvb/protoclass_matlab.git
